.navbar {
  /* border: 1px solid red; */
  padding: 5px;
  font-family: 'Lobster', cursive;
  background-color: #e81c45;
  position: relative;
  height: 100px;
}

.navbar h1 {
  font-size: 50px;
  color: white;
  padding-left: 100px;
}

.right {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  width: 350px;
  position: absolute;
  right: 130px;
  top: 65px;
}

.right a {
  color: white;
  text-decoration: none;
}

.navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  margin-top: -150px;
}